.btn-mainContainer{
    position: fixed;
    width: calc(100vw - 2*var(--extra));
    left: var(--extra);
    background-color: transparent;
    pointer-events: none;
    z-index: 11;
    transition: opacity 0.55s ease;
}

#btn-mainContainerId {
    opacity: 1;
}
    #btn-mainContainerId.slow {
        transition: opacity 2s ease;
    }
    #btn-mainContainerId.hidden {
        opacity: 0;
    }


.btn-icon-cont{
    position: absolute;
    width: var(--imagePadding);
    height: var(--imagePadding);
    padding: var(--globalPadding);
    transition: transform 2s ease;
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
}

.btn-icon-cont::before {
    content: "";
    position: absolute;
    inset: var(--globalPadding);
    background: var(--backColor);
    border-radius: 50%;
    z-index: -1;
}

    .btn-icon-cont.hidden {
        opacity: 0;
    }
    
.btn-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.btn-hitbox {
    position: fixed;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

    .btn-hitbox.hidden {
        pointer-events: none;
        cursor: default;
    }


/* loc */
#up-icon-cont{
    top: 0px;
    justify-self: center;
}
#up-hitbox {
    display: block;
    top: 0px;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    pointer-events: auto;
}
.zoomOut #up-hitbox {
    display: none;
    pointer-events: none;
}

#down-icon-cont{
    bottom: 0px;
    justify-self: center;
    transform: rotate(180deg);
}
#down-hitbox {
    display: block;
    bottom: 0px;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    pointer-events: auto;
}
.zoomOut #down-hitbox {
    display: none;
    pointer-events: none;
}

#right-icon-cont{
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto 0; /* vertical centering */
    transform: rotate(90deg);
}
#right-hitbox {
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 25vw;
}
.zoomOut #right-hitbox {
    width: var(--imagePadding);
    z-index: 4;
}


#left-icon-cont{
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    transform: rotate(270deg);
}
#left-hitbox {
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 25vw;
}
.zoomOut #left-hitbox {
    width: var(--imagePadding);
    z-index: 4;
}
