* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

html {
    font-size: var(--textHeight, 16px);
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* About */
h1 {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-size: inherit;/* Specified in css */
    font-weight: 300;
}

/* Titles */
h2, h3, .title {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-size: 1.3em;
    font-weight: 300;
}

/* Paragraphs */
body, p, li {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 300;
}

em {
    font-style: italic;
    font-size: 1em;
    font-weight: 300;
}

span {
    font-size: 1em;
    font-weight: 300;
}

body {
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* allow vertical scroll */
    overflow-x: auto; /* allow h scroll */

    opacity: 0;
    /*transition: opacity 0.3s ease;*/
    color: black;
    background-color: var(--backColor);

}
    body.ready {
        opacity: 1;
    }




/* Hide browser scrollbars everywhere */
html, body, #columns {
    scrollbar-width: none; /* Firefox */
}

    html::-webkit-scrollbar,
    body::-webkit-scrollbar,
    #columns::-webkit-scrollbar {
        display: none; /* Chrome, Edge, etc. */
    }
