#home.visible {
    opacity: 1;
    pointer-events: auto;
}

#home-hitBox {/*fix for safari*/
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}


#home {
    position: fixed;
    top:0;
    left:var(--extra);
    width: var(--imagePadding);
    height: var(--imagePadding);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
}

#home-hitBox {
    top: 0px;
    left: 0px;
    position: absolute;
    width: var(--imagePadding);
    height: var(--imagePadding);
    z-index: 200;
    cursor: pointer;
    pointer-events: auto;
}

#home-animation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(var(--buttonHeight) + var(--globalPadding));
    height: calc(var(--buttonHeight) + var(--globalPadding));
    margin: calc(0.5* var(--globalPadding));
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
}