.scrollbar {
    position: fixed;
    pointer-events: none;
    z-index: 10000;
    height: var(--scrollbar-width);
    width: var(--scrollbar-width); /* initial size, updated dynamic */
    background-color: rgb(145,145,145);
}


/* loc */
#h-scrollbar {
    bottom: 0;
    left: 0;
}

#v-scrollbar {
    right: 0;
    top: 0;
}